<template>
    <div class="page-header clearfix">
        <h1>
            <i class="glyphicon glyphicon-align-justify"></i> {{ title }}
            <a class="btn btn-success pull-right" v-bind:href="route"><i class="glyphicon glyphicon-plus"></i> {{ buttonContent }}</a>
        </h1>
    </div>
</template>
