<template>
    <thead>
        <tr>
            <th>

                ID

            </th>
            <th>

                Surname

            </th>
            <th>

                Name

            </th>
            <th>

                Patronymic

            </th>


            <th v-for="subject in subjects">{{ $subject['name'] }}</th>
            <th>Avg</th>
            <th class="text-right">OPTIONS</th>
        </tr>
    </thead>

    <tbody>
        <tr v-for="$student in $students">
            <td>{{ $student['id'] }}</td>
            <td>{{ $student['surname'] }}</td>
            <td>{{ $student['name']</td>
            <td>{{ $student['patronymic']</td>

            <td v-for="subject in subjects">
            </td>

            <td>

            </td>

            <td class="text-right">
                <a data-toggle="modal" data-target="#studentEditModal" data-remote="false" class="btn btn-xs btn-warning" href="http://student.app/admin/group/190/student/{{ $student['id'] }}/edit" v-on:click="edit(http://student.app/admin/group/190/student/{{ $student['id'] }}/edit)"><i class="glyphicon glyphicon-edit"></i> Edit</a>

            </td>
        </tr>

    </tbody>
</template>
